<div class="container" mt-5>
  <div class="text-center" *ngIf="!registerMode">
    <h1>دوست خود را پیدا کنید</h1>
    <p>با استفاده از این صفحه میتوانید دوست خود راپیدا کنید</p>
  </div>
  <div class="text-center" *ngIf="!registerMode">
    <button class="btn btn-primary btn-lg ml-10px" (click)="toggleRegisterMode()">ثبت نام</button>
    <button class="btn btn-info btn-lg ml-10px">نمایش بیشتر ...</button>
  </div>
  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
